Yannik Sahl <yanniksahl@outlook.de> <s0569340@htw-berlin.de>  
Yannik Sahl <yanniksahl@outlook.de> s0569340 <yannik.sahl@student.htw-berlin.de>
Benedikt Blank <benjiblank95@gmail.com> benji3395 <benjiblank95@gmail.com> 
Dmitry Savkin <dmitry.savkin.info@gmail.com> s0566827 <dmitry.savkin@student.htw-berlin.de>
Wajdi Helali <helali.wajdi@gmail.com> wajdi <helali.wajdi@gmail.com>
Wajdi Helali <helali.wajdi@gmail.com> s0563481 <s0563481@htw-berlin.de>
Mohammad Abuosba <mohammad.abuosba@htw-berlin.de> abuosba <mohammad.abuosba@htw-berlin.de>
Mohammad Abuosba <mohammad.abuosba@htw-berlin.de> abuosba <abuosba@htw-berlin.de>